{{#section 'link'}}
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
{{/section}}
{{#section 'style'}}
    .cover {
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1 0 auto;
    }
    #contact {
      flex-shrink: 0;
    }
    #mygif {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }

    .stars-outer {
      position: relative;
      display: inline-block;
    }

    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: calc(var(--a) * var(--r));
    }

    .stars-outer::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ccc;
    }

    .stars-inner::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #f8ce0b;
    }

    {{/section}}
  
    
  
  <div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="...">

  <header id="header-wrap">
      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg fixed-top scrolling-navbar"
        style="background-color: #fff;"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#main-navbar"
              aria-controls="main-navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <img src="/img/logo.png" class="navbar-brand" style="width: 250px; height: 70px" alt=""/>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar" style="margin-left: 4%;">
            <ul class="navbar-nav mr-auto w-100">
              <li class="nav-item">
                <a class="nav-link" href="dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="viewfarmers">View Farmer's Profiles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="updateprofile">Update Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="buyer_orders">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="mobile-menu">
          <li>
            <a class="page-scroll" href="dashboard">Dashboard</a>
          </li>
          <li>
            <a class="page-scroll" href="viewfarmers">View Farmer's Profiles</a>
          </li>
          <li>
            <a class="page-scroll" href="updateprofile">Update Profile</a>
          </li>
          <li>
            <a class="page-scroll" href="buyer_orders">Orders</a>
          </li>
          <li>
            <a class="page-scroll" href="chat">Chat</a>
          </li>
          <li>
            <a class="page-scroll" href="logout">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <br><br><br><br>
    <div style="text-align: right; position: sticky; padding-right: 50px">
      <span style="background-color: #fff; font-size: 20px; color:#016168; padding: 10px; opacity: 80%;">Hello {{user.username}}</span>
    </div>
    <br><br>
    <h1 class="section-title wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
       <span style="background-color: #fff; font-size: 50px; color:#016168; padding: 15px; opacity: 90%;">Orders</span> 
    </h1>
    {{#if rating}}
    {{#each rating}}
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-12">
        <div class="card" style="opacity: 90%; height: 170px; margin-bottom: 20px; text-align:center">
          <div class="card-body">
            <h5 class="card-title">Farmer: {{this.1.farmer_username}}</h5>
            {{#if this.1.given }}
              <p class="card-text" style="font-size: 17px;">Rating given : {{this.1.rating}}
                <div class="stars-outer" id="stars-outer{{this.1._id}}" style="margin: 10px;">
                  <div class="stars-inner" id="stars-inner{{this.1._id}}" style="color:#f8ce0b; --r:20%; --a:{{this.1.rating}}">
                  </div>
                </div>
              </p>
            {{else}}
            <form action="save_rating/{{this.1._id}}" method="POST">
                <input type="number" step="0.5" class="form-control" placeholder="Rating(out of 5 in steps of 0.5)" name="farmerrating" max="5" style="margin-bottom: 5px;"/>
                <div class="col">
                <button type="submit" href="" class="btn btn-common btn-nv-sty" style="width: 70%;">Submit rating</button>
              </div>
            </form>
            {{/if}}
            
          </div>
        </div>
      </div>
      {{#if this.2.farmer_username}}
      <div class="col-lg-4 col-12">
        <div class="card" style="opacity: 90%; height: 170px; margin-bottom: 20px; text-align:center">
          <div class="card-body">
            <h5 class="card-title">Farmer : {{this.2.farmer_username}} </h5>
            {{#if this.2.given }}
              <p class="card-text" style="font-size: 17px;">Rating given : {{this.2.rating}}
                <div class="stars-outer" id="stars-outer{{this.2._id}}" style="margin: 10px;">
                  <div class="stars-inner" id="stars-inner{{this.2._id}}" style="color:#f8ce0b; --r:20%; --a:{{this.2.rating}}">
                  </div>
                </div>
              </p>
            {{else}}
            <form action="save_rating/{{this.2._id}}" method="POST">
                <input type="number" step="0.5" class="form-control" placeholder="Rating(out of 5 in steps of 0.5)" name="farmerrating" max="5" style="margin-bottom: 5px;"/>
                <div class="col">
                <button type="submit" href="" class="btn btn-common btn-nv-sty" style="width: 70%;">Submit rating</button>
              </div>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
      {{/if}}
      <div class="col-lg-2"></div>
    </div>
    <br>
    {{/each}}
    {{/if}}
    </div>