{{#section 'link'}}
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{{/section}}
{{#section 'style'}}
    .cover {
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1 0 auto;
    }
    #contact {
      flex-shrink: 0;
    }
    #mygif {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }

    .stars-outer {
      position: relative;
      display: inline-block;
    }

    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: calc(var(--a) * var(--r));
    }

    .stars-outer::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ccc;
    }

    .stars-inner::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #f8ce0b;
    }

    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    
    {{/section}}
  
    
  
<div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="...">

  <header id="header-wrap">
      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg fixed-top scrolling-navbar"
        style="background-color: #fff;"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#main-navbar"
              aria-controls="main-navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <img src="/img/logo.png" class="navbar-brand" style="width: 250px; height:70px" alt=""/>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar" style="margin-left: 10%;">
            <ul class="navbar-nav mr-auto w-100">
              <li class="nav-item">
                <a class="nav-link" href="/users/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/viewfarmers">View Farmer's Profiles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/updateprofile">Update Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/users/chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="mobile-menu">
          <li>
            <a class="page-scroll" href="/users/dashboard">Dashboard</a>
          </li>
          <li>
            <a class="page-scroll" href="/users/viewfarmers">View Farmer's Profiles</a>
          </li>
          <li>
            <a class="page-scroll" href="/users/updateprofile">Update Profile</a>
          </li>
          <li>
            <a class="page-scroll" href="/users/chat">Chat</a>
          </li>
          <li>
            <a class="page-scroll" href="/users/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <br><br><br><br>
    <h1 class="section-title wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
       <span style="background-color: #fff; font-size: 40px; color:#016168; padding: 15px; opacity: 90%;">Chat list</span> 
    </h1>
    {{#each farmer}}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-12">
            <a href="/chat/{{this._id}}" style="color: black;">
            <div class="card" style="opacity: 90%; height: 80px;">
                <div class="card-body" style="padding: 10px;">
                    <div class="row">
                        <div class="col-7">
                            <h5 class="card-title" style="margin-bottom: 2px;">{{this.fullname}}</h5>
                            <p class="card-text">Crops grown : {{this.crops}}</p>
                        </div>
                        <div class="col-3">
                            <p class="card-text">Rating : {{this.rating}}
                                <div class="stars-outer" id="stars-outer{{this.1._id}}">
                                    <div class="stars-inner" id="stars-inner{{this.1._id}}" style="color:#f8ce0b; --r:20%; --a:{{this.rating}}">
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="col-1" style="margin-top: 17px;">
                          <button type="button" class="btn btn-success btn-circle">1</button>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    {{/each}}
</div>