{{#section 'link'}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
  rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{{/section}}

{{#section 'style'}}
.cover {
display: flex;
flex-direction: column;
}
.content {
flex: 1 0 auto;
}
#contact {
flex-shrink: 0;
}
#mygif {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}

.received_msg {
display: inline-block;
padding: 0 0 0 10px;
vertical-align: top;
width: 92%;
}
.received_withd_msg p span {
background: #ebebeb none repeat scroll 0 0;
border-radius: 3px;
color: #646464;
font-size: 14px;
margin: 0;
padding: 5px 10px 5px 12px;
width: 100%;
}
.time_date {
color: #747474;
display: block;
font-size: 12px;
margin: 8px 0 0;
}
.received_withd_msg { width: 80%;}
.mesgs {
padding: 30px 15px 15px 25px;
}
.sent_msg p span {
background: #05728f none repeat scroll 0 0;
border-radius: 3px;
font-size: 14px;
margin: 0; color:#fff;
padding: 5px 10px 5px 12px;
width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.incoming_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
float: right;
width: 80%;
text-align: right;
}
.input_msg_write input {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
color: #4c4c4c;
font-size: 15px;
min-height: 48px;
width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;border-bottom: 1px solid #c4c4c4}
.msg_send_btn {
background: #05728f none repeat scroll 0 0;
border: medium none;
border-radius: 50%;
color: #fff;
cursor: pointer;
font-size: 17px;
height: 33px;
position: absolute;
right: 0;
top: 18px;
width: 33px;
}

.msg_history {
{{!-- height: 380px; --}}
max-height: 60vh;
overflow-y: auto;
}

.circle-icon {
    background: #117080;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

#chatimage {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
{{/section}}

<div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="...">
  <header id="header-wrap">
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar" style="background-color: #fff;">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
          <img src="/img/logo.png" class="navbar-brand" style="width: 230px; height:70px" alt="" />
        </div>
        <div class="collapse navbar-collapse" id="main-navbar" style="margin-left: 10%;">
          <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item">
              <a class="nav-link" href="/users/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/viewfarmers">View Farmer's Profiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/updateprofile">Update Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/chat">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="mobile-menu">
        <li>
          <a class="page-scroll" href="/users/dashboard">Dashboard</a>
        </li>
        <li>
          <a class="page-scroll" href="/users/viewfarmers">View Farmer's Profiles</a>
        </li>
        <li>
          <a class="page-scroll" href="/users/updateprofile">Update Profile</a>
        </li>
        <li>
          <a class="page-scroll" href="/users/chat">Chat</a>
        </li>
        <li>
          <a class="page-scroll" href="/users/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <br><br><br><br>
  <h1 class="section-title wow fadeInUp animated" data-wow-delay="0.2s"
    style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
    <span style="background-color: #fff; font-size: 40px; color:#016168; padding:15px; opacity: 90%;">Chat</span>
  </h1>
  <div class="container" style="position: relative; opacity: 90%">
    <div class="row">
      <div class="col-12">
        <div class="col-12 col-md-12 col-lg-8 log-style" style="padding: 0px;">
          <div class="messaging">
            <div class="inbox_msg">

              <div class="mesgs" style="background-color: white;">
                <div class="msg_history" style="display: flex; flex-direction: column-reverse">
                  <div>
                    
                    {{#each msgs}}
                      {{#ifeq this.send "y" }}
                        <div class="outgoing_msg">
                          <div class="sent_msg">
                            <p><span>{{this.chat_msg}}</span></p>
                            <span class="time_date"> {{this.time}}</span>
                          </div>
                        </div>
                      {{else}}
                        <div class="incoming_msg">
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p><span>{{this.chat_msg}}</span></p>
                              <span class="time_date"> {{this.time}}</span>
                            </div>
                          </div>
                        </div>
                      {{/ifeq}}
                      {{/each}}
                      <div  id="messages">
                      </div>
                  </div>
                  
                </div>
                
                <div class="type_msg">
                  <div class="input_msg_write">
                    <form id="chatform" style="margin-bottom: 2px;" enctype="multipart/form-data">
                      <input type="hidden" id="chat_curr_user" name="chat_curr_user" value="{{curr_user.username}}">
                      <input type="hidden" id="chat_other_user" name="chat_other_user" value="{{other_user.username}}">
                      <input type="hidden" id="room_id" name="room_id" value="{{room_id}}">
                      <textarea rows="2" placeholder="Type a message" id="msg" name="msg" style="width: 75%; margin-top: 10px"></textarea>
                      <label for="chatimage" style="cursor: pointer;">
                      <p style="font-size:24px; border:none; background: white; position: absolute; right: 45px; top: 18px;">
                        <i class="fa fa-camera circle-icon" style="padding: 5px; color: white">
                        </i>
                      </p>
                      <span id="file-name" style="font-size: 13px; position: absolute; right: 20; top: 45;"></span>
                      </label>
                      <input type="file" name="chatimage" id="chatimage" onchange='uploadFile(this)'/>
                      <button class="msg_send_btn" type="submit" id="chatbutton" name="chatbutton">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </form>
                    <template id="message-template" >
                
                    </template>
                    <script>
                      function uploadFile(target) {
                          document.getElementById("file-name").innerHTML = target.files[0].name;
                      }
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>