{{#section 'style'}}
    .cover {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .content {
      flex: 1 0 auto;
    }
    #contact {
      flex-shrink: 0;
    }
    #mygif {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
    {{/section}}
  
    
  
  <div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="...">

  <header id="header-wrap">
      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg fixed-top scrolling-navbar"
        style="background-color: #fff;"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#main-navbar"
              aria-controls="main-navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <img src="/img/logo.png" class="navbar-brand" style="width: 250px; height: 70px" alt=""/>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar" style="margin-left: 20%;">
            <ul class="navbar-nav mr-auto w-100">
              <li class="nav-item active">
                <a class="nav-link" href="dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="notifications">Notifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="updateprofile">Update Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="mobile-menu">
          <li>
            <a class="page-scroll" href="dashboard">Dashboard</a>
          </li>
          <li>
            <a class="page-scroll" href="notifications">Notifications</a>
          </li>
          <li>
            <a class="page-scroll" href="updateprofile">Update Profile</a>
          </li>
          <li>
            <a class="page-scroll" href="chat">Chat</a>
          </li>
          <li>
            <a class="page-scroll" href="logout">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <br><br><br><br><br>
    <h1 class="section-title wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
       <span style="background-color: #fff; font-size: 50px; color:#016168; padding: 15px; opacity: 90%;">Dashboard</span> 
    </h1>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col">
        <div class="card" style="opacity: 90%; height: 130px">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">{{farmer.fullname}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="opacity: 90%; height: 130px">
          <div class="card-body">
            <h5 class="card-title">Average Rating</h5>
            <p class="card-text">{{farmer.rating}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col">
        <div class="card" style="opacity: 90%; height: 130px">
          <div class="card-body">
            <h5 class="card-title">Number of deals</h5>
            <p class="card-text">{{farmer.deals}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="opacity: 90%; height: 130px">
          <div class="card-body">
            <h5 class="card-title">Number of orders</h5>
            <p class="card-text">{{farmer.orders}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <br>
    {{#if Crops}}
    {{#each Crops}}
    
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col">
        <div class="card" style="opacity: 90%; height: 400px">
          <img class="card-img-top" src="data:{{this.1.filetype}};base64,{{this.1.bString}}" alt="Card image cap" style="height: 250px; padding: 10px">
          <div class="card-body">
            <h5 class="card-title">Crop name : {{this.1.cropname}}</h5>
            <p class="card-text">Stage of growth :{{this.1.dev_stage}} </p>
            <div class="row">
              <div class="col-1"></div>
              <div class="col">
                <a href="updatecrops/{{this.1._id}}" class="btn btn-common btn-nv-sty">Update crop details</a>
              </div>
              <div class="col">
                <a href="deletecrops/{{this.1._id}}" class="btn btn-common btn-nv-sty">Delete crop details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        {{#if this.2.filetype}}
        <div class="card" style="opacity: 90%; height: 400px">
          <img class="card-img-top" src="data:{{this.2.filetype}};base64,{{this.2.bString}}" alt="Card image cap" style="height: 250px; padding: 10px">
          <div class="card-body">
            <h5 class="card-title">Crop name : {{this.2.cropname}}</h5>
            <p class="card-text">Stage of growth :{{this.2.dev_stage}} </p>
            <div class="row">
              <div class="col-1"></div>
              <div class="col">
                <a href="updatecrops/{{this.2._id}}" class="btn btn-common btn-nv-sty">Update crop details</a>
              </div>
              <div class="col">
                <a href="deletecrops/{{this.2._id}}" class="btn btn-common btn-nv-sty">Delete crop details</a>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
      
      <div class="col-lg-2"></div>
      
    </div>
    <br>
    {{/each}}
    {{/if}}
    <br>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col">
        <div class="card" style="opacity: 90%; height: 130px">
          <div class="card-body">
            <h5 class="card-title">Add new crop details</h5>
            <div class="row">
              <div class="col-4"></div>
              <div class="col">
                <a href="addcrops" class="btn btn-common btn-nv-sty" style="width: 50%;">Add</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
  
    {{!-- <div class="container">
      <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome {{user.username }}</p>
<form action = "/users/logout" method="POST">
    <button type="submit" class="btn btn-primary btn-block">
        Logout
      </button>
</form>
<form action = "/users/logoutall" method="POST">
    <button type="submit" class="btn btn-primary btn-block">
        Logout from all devices
      </button>
</form>
    </div> --}}

    


