{{#section 'style'}}
    .cover {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .content {
      flex: 1 0 auto;
    }
    #contact {
      flex-shrink: 0;
    }
    #mygif {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
    {{/section}}
  
    
  
  <div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="..."/>
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg fixed-top scrolling-navbar"
        style="background-color: #fff;"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#main-navbar"
              aria-controls="main-navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <img src="/img/logo.png" class="navbar-brand" style="width: 250px; height: 70px" alt=""/>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar" style="margin-left: 20%;">
            <ul class="navbar-nav mr-auto w-100">
              <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="mobile-menu">
          <li>
            <a class="page-scroll" href="/admin/dashboard">Dashboard</a>
          </li>
          <li>
            <a class="page-scroll" href="/admin/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content">
        <br><br><br><br>
        <div style="text-align: right; position: sticky; padding-right: 50px">
          <span style="background-color: #fff; font-size: 20px; color:#016168; padding: 10px; opacity: 80%;">Hello Admin!</span>
        </div>
        <br>
        <div style="text-align: center; position: sticky;">
        <h1> <span style="background-color: #fff; font-size: 40px; color:#016168; padding: 15px; opacity: 80%;">Profile</span> </h1>
        </div>
        <div style="position: sticky; background-color: white; text-align: center;">
          <p style="font-size: 20px; color: red;">{{messageFailure}}</p>
          <p style="font-size: 20px; color: green">{{messageSuccess}}</p>
        </div>
        <br>
        <section id="form-dom">
        <div class="container" style="margin-bottom: 30px; opacity: 90%;">
          <div class="row">
            <div class="col-12">
              <div class="col-12 col-md-12 col-lg-8 log-style">
                {{#ifeq user.type "farmer"}}
                <p style="font-size: 25px;">Name :{{profile.fullname}} </p>
                <br>
                <p style="font-size: 20px;">Email id :{{user.email}} </p>
                <br>
                <p style="font-size: 20px;">Land area : {{profile.land_area}} acres</p>
                <br>
                <p style="font-size: 20px;">Location : {{profile.location}}</p>
                <br>
                <p style="font-size: 20px;">Land ownership proof : </p>
                <br>
                <img src="data:{{profile.land_doc_type}};base64,{{profile.land_doc}}" style="width: 100%;" />
                <br><br>
                <p style="font-size: 20px;">Organic farming certificate : </p>
                <br>
                <img src="data:{{profile.certificate_type}};base64,{{profile.certificate}}" style="width: 100%;"/>
                <br><br>
                {{/ifeq}}
              {{#ifeq user.type "investor"}}
                <p style="font-size: 25px;">Name :{{profile.fullname}} </p>
                <br>
                <p style="font-size: 20px;">Email id :{{user.email}} </p>
                <br>
                <p style="font-size: 20px;">Range of Investment : {{profile.start}}-{{profile.end}} INR</p>
                <br>
                <p style="font-size: 20px;">Income statement : </p>
                <br>
                <img src="data:{{profile.income_statement_type}};base64,{{profile.income_statement}}" style="width: 100%;" onload="render_file(this)"/>
                <br><br>
                <p style="font-size: 20px;">Pan Number :{{profile.pan_number}} </p>
                <br>
                <br><br>
                {{/ifeq}}

                {{#ifeq user.type "buyer"}}
                <p style="font-size: 25px;">Name :{{profile.fullname}} </p>
                <br>
                <p style="font-size: 20px;">Email id :{{user.email}} </p>
                <br>
                <p style="font-size: 20px;">Pan Number :{{profile.pan_number}}</p>
                <br>
                <p style="font-size: 20px;">Pan Card  </p>
                <br>
                <img src="data:{{profile.pan_card_type}};base64,{{profile.pan_card}}" style="width: 100%;"/>
                <br><br>
                
                {{/ifeq}}

                {{#ifeq user.type "institution"}}
                <p style="font-size: 25px;">Name :{{profile.fullname}} </p>
                <br>
                <p style="font-size: 20px;">Email id :{{user.email}} </p>
                <br>
                <p style="font-size: 20px;">Range of Investment : {{profile.start}}-{{profile.end}} INR</p>
                <br>
                
                <p style="font-size: 20px;">Business Proof : </p>
                <br>
                <img src="data:{{profile.business_proof_type}};base64,{{profile.business_proof}}" style="width: 100%;"/>
                <br><br>
                {{/ifeq}}

                <div class="row">
                    <div class="col-6">
                        <a href="/admin/accept/{{user._id}}"class="btn btn-common btn-nv-sty" style="width: 100%;">Approve</a>
                    </div>
                    <div class="col-6">
                        <a href="/admin/reject/{{user._id}}"class="btn btn-common btn-nv-sty" style="width: 100%;">Disapprove</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>
    
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
            $(".zoom").hover(function() {
                $(this).addClass('transition');
            }, function() {
                $(this).removeClass('transition');
            });
        });
    </script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </div>