{{#section 'link'}}
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
{{/section}}
{{#section 'style'}}
    .cover {
      display: flex;
      flex-direction: column;
    }
    .content {
      flex: 1 0 auto;
    }
    #contact {
      flex-shrink: 0;
    }
    #mygif {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }

    .stars-outer {
      position: relative;
      display: inline-block;
    }

    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: calc(var(--a) * var(--r));
    }

    .stars-outer::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ccc;
    }

    .stars-inner::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #f8ce0b;
    }

    {{/section}}
  
    
  
  <div class="cover">
  <img src="/img/crops.gif" id="mygif" alt="...">

  <header id="header-wrap">
      <!-- Navbar Start -->
      <nav
        class="navbar navbar-expand-lg fixed-top scrolling-navbar"
        style="background-color: #fff;"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#main-navbar"
              aria-controls="main-navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <img src="/img/logo.png" class="navbar-brand" style="width: 230px; height:70px" alt=""/>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar" style="margin-left: 5%;">
            <ul class="navbar-nav mr-auto w-100">
              <li class="nav-item">
                <a class="nav-link" href="dashboard">Dashboard</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="viewfarmers">View Farmer's Profiles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="updateprofile">Update Profile</a>
              </li>
              {{#ifeq user.type "buyer"}}
              <li class="nav-item">
                <a class="nav-link" href="buyer_orders">Orders</a>
              </li>
              {{/ifeq}}
              <li class="nav-item">
                <a class="nav-link" href="chat">Chat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="mobile-menu">
          <li>
            <a class="page-scroll" href="dashboard">Dashboard</a>
          </li>
          <li>
            <a class="page-scroll" href="viewfarmers">View Farmer's Profiles</a>
          </li>
          <li>
            <a class="page-scroll" href="updateprofile">Update Profile</a>
          </li>
          {{#ifeq user.type "buyer"}}
              <li class="nav-item">
                <a class="page-scroll" href="buyer_orders">Orders</a>
              </li>
              {{/ifeq}}
          <li>
            <a class="page-scroll" href="chat">Chat</a>
          </li>
          <li>
            <a class="page-scroll" href="logout">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <br><br><br><br>
    <div style="text-align: right; position: sticky; padding-right: 50px">
      <span style="background-color: #fff; font-size: 20px; color:#016168; padding: 10px; opacity: 80%;">Hello </span>
    </div>
    <br><br>
    <h1 class="section-title wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
       <span style="background-color: #fff; font-size: 40px; color:#016168; padding: 15px; opacity: 90%;">Farmer profiles</span> 
    </h1>
    {{#if profiles}}
    {{#each profiles}}
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-12">
        <div class="card" style="opacity: 90%; height: 300px; margin-bottom: 20px; text-align:center">
          <div class="card-body">
            <h5 class="card-title">Name : {{this.1.fullname}}</h5>
            <p class="card-text">Number of deals : {{this.1.deals}}</p>
            <p class="card-text">Number of orders : {{this.1.orders}}</p>
            <p class="card-text">Ratings : {{this.1.rating}}
              <div class="stars-outer" id="stars-outer{{this.1._id}}">
                <div class="stars-inner" id="stars-inner{{this.1._id}}" style="color:#f8ce0b; --r:20%; --a:{{this.1.rating}}">
                </div>
              </div>
            </p>
            <p class="card-text">Crops grown :{{2}} </p>
            <p class="card-text">Area of land : {{this.1.land_area}} acres</p>
            <div class="row">
                <div class="col-lg-3 col-2"></div>
                <div class="col-lg-6 col-8">
                  <a href="/chat/{{this.1._id}}" class="btn btn-common btn-nv-sty" style="width: 100%;">Chat</a>
                </div>
                <div class="col-lg-3 col-2"></div>
              </div>
          </div>
        </div>
      </div>
      {{#if this.3.fullname}}
      <div class="col-lg-4 col-12">
        <div class="card" style="opacity: 90%; height: 300px; margin-bottom: 20px; text-align:center">
          <div class="card-body">
            <h5 class="card-title">Name : {{this.3.fullname}} </h5>
            <p class="card-text">Number of deals : {{this.3.deals}}</p>
            <p class="card-text">Number of orders : {{this.3.orders}}</p>
            <p class="card-text">Ratings : {{this.3.rating}}
              <div class="stars-outer" id="stars-outer{{this.3._id}}">
                <div class="stars-inner" id="stars-inner{{this.3._id}}"  style="color:#f8ce0b; --r:20%; --a:{{this.3.rating}}">
                </div>
            </div>
            </p>
            <p class="card-text">Crops grown : {{4}}</p>
            <p class="card-text">Area of land : {{this.3.land_area}} acres</p>
            <div class="row">
                <div class="col-lg-3 col-2"></div>
                <div class="col-lg-6 col-8">
                  <a href="/chat/{{this.3._id}}" class="btn btn-common btn-nv-sty" style="width: 100%;">Chat</a>
                </div>
                <div class="col-lg-3 col-2"></div>
              </div>
          </div>
        </div>
      </div>
      {{/if}}
      <div class="col-lg-2"></div>
    </div>
    <br>
    {{/each}}
    {{/if}}
  </div>
  